.container {
  padding: 1rem;
}

.title h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0 0 2rem;
}

.flex {
  display: flex;
}

.intro p {
  margin: 0 0 2rem;
  line-height: 1.5rem;
}

.directory a {
  display: block;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.directory a:hover {
  text-decoration: underline;
}

.directory a.disabled:hover {
  cursor: not-allowed;
  color: grey;
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .landingCard {
    max-width: 800px;
  }

  .landingBody {
    display: flex;
  }

  .intro {
    width: 80%;
  }

  .directory {
    width: 20%;
  }

  .directory a {
    padding-left: 1.5rem;
    text-align: left;
  }
}
